<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/_head', {title:'Gulp Template Bootstrap 5'}); -%>
  </head>
  <body>
    <%- include('partials/_navbar'); -%>
    <%- include('partials/_footer'); -%>
  </body>
</html>
